.clock-days, .clock-hours, .clock-minutes, .clock-seconds{
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    color: #f5a623;
    font-family: ArialBlack,sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 68px;
}